body {
    background-color: $couleur__background--body;
    font-family: $police__main;
    width: 80%;
    margin: 25px auto 0 auto;
}
body > div > * + * {
    // margin-top: 50px;
}

.trace {
    background-color: green;
}