.site__header{
    display: flex;
    flex-direction: column;

    .header__first_div {
        display: flex;
        flex: row;
    }
}

.site__title{
    display: inline;
    font-size: clamp(2rem, 4vw, 5rem);
    margin: $espacement__petit 0;
}

.site__description {
    font-size: clamp(1rem, 2vw, 2rem);
    margin: $espacement__petit 0;
    align-self: center;
    
}

.site__branding {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    @media screen and (min-width:1250px) {
        flex-direction: column;
    }
}