.grille {
    // display: flex;
    // gap: $espacement__petit;
    // flex: row;
    // flex-wrap: wrap;
    // align-items: stretch;
    // justify-content: space-around;
    // flex: 1;
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: $espacement__petit;

    
    @media screen and (min-width: 600px){
        grid-template-columns: repeat(2, 1fr);
        .grille_categorie {
            grid-column: span 2;
        }
    }
    @media screen and (min-width: 900px){
        grid-template-columns: repeat(3, 1fr);
        .grille_categorie {
            grid-column: span 3;
        }
    }
    @media screen and (min-width: 1600px){
        grid-template-columns: repeat(4, 1fr);
        .grille_categorie {
            grid-column: span 4;
        }
    }
    // .main__post{
    //     flex: 1 1 300px;
    //     // flex-grow: 0;
    //     // flex-shrink: 1;
    //     // flex-basis: 300px;
    //     // min-width: 0;
    // }
    // .main__post:last-child{
    //     flex-grow: 0;
    // }
}