.menu_evenement {
    .menu{
        list-style: none;
        display: flex;
        border: solid 1px blue;
        justify-content: space-between;
    }
    .menu-item{
        width: 25%;

    }
    .evenement__porte{
        background-color: pink;
    }
    .evenement__stage{
        background-color: lavender;
    }
    .evenement__projets{
        background-color: aqua;
    }
    .menu__item__icone{
        width: 50px;
        height: 50px;
        border: 1px solid blue;
    }
}