

.chk-burger {
    display: none;
}
.chk-burger:checked ~ .burger{
    transform: rotate(90deg);
}

.chk-burger:checked ~ .menu__aside {
    transform: translateX(0);
}
.burger {
    position: absolute;
    width: 32px;
    height: 32px;
    font-size: 32px;
    top: 20px;
    right: 15%;
    z-index: 2;
    transform: rotate(0deg);
    transform-origin: 16px 16px;
    transition: transform 0.5s;
    @media screen and (min-width:990px) {
        display: none;
    }
}

.menu__aside { 
    //nav
    display: flex;
    position: absolute;
    width: 100vw;
    top: 0;
    padding: 72px 0 20px 0;
    background-color: black;
    transform: translateX(-100vw);
    transition: transform 0.5s;
    z-index: 1;
    @media screen and (min-width:990px) {
        position: static;
        padding: 0;
        transform: translateX(0);
        width: auto;
    }
    .menu { 
        //ul
        margin: 0 $espacement__petit 0 0;
        padding: 0 $espacement__petit 0 0;
        border: none;
        list-style-type: none;
        @media screen and (min-width:990px) {
            border-right: 1px solid red;
        }

        .menu-item { 
            //li
            padding-bottom: 5px;
            a {
                text-decoration: none;
                
            }
        }
    }
}