.menu_evenement {
    
    .menu{
        padding: $espacement__petit;
        border-radius: 20px;
        background-color: $couleur__background--accent__principal;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        @media screen and (min-width: 900px){
            flex-direction: row;
        }
    }

    .menu-item{
        width: 100%;
        @media screen and (min-width: 900px){
            max-width: 30%;
        }

        a{
            display:block;
            text-decoration: none;
        }
        a:hover {
            color: $color__link;
            
            .menu__item__icone{
                color: $color__link--hover;
                transform: translateX(80%);
            }
        }
    }

    .menu__item__icone{
        // width: 50px;
        // height: 50px;
        margin: 0;
        transform: translateX();
        transition: transform 1s;
    }


    
    // .evenement__porte {

        
    // } 
    // .evenement__stage{
    //     // background-color: lavender;
    // }
    // .evenement__projets{
    //     // background-color: aqua;
    // }
}